.accordion-article {
  display: flex;
  align-items: center;
  gap: 1em;
  color: initial;
  text-decoration: none;
  height: 150px;

  img {
    max-width: 70px;
    max-height: 70px;
  }

  .accordion-article-swipeleft {
    position: relative;
    top: 0;
    height: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
