.accordion-body article {
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordion-article {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1em;
  color: initial;
  text-decoration: none;
  height: 150px;

  img {
    max-width: 70px;
    max-height: 70px;
  }
}

.accordion-article-swipeleft {
  position: relative;
  left: 100%;
  z-index: 1;
  height: 150px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
}

.offcanvas-body .accordion-article {
  position: static;
}
