@import '../../node_modules/bootstrap/scss/functions';

// Background colors
$body-bg: #f0f3f4;
$body-bg-secondary: #c8d1d3;
$body-bg-sand: #b9b0a2;

// Primary colors
$primary: #87bcbf;
$success: #324755;
$danger: #d95454;
$info: #d97d54;

// Text colors
$custom-colors: (
  'text-black': #1b1c20,
  'text-slate': #6e8ca0,
  'text-white': #ffffff,
);

// Heading sizes
$h1-font-size: 40px;
$h2-font-size: 32px;

// Custom classes

.section-header {
  font-size: 24px;
  font-weight: bold;
}

.sub-title {
  font-size: 24px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-copy-small {
  font-size: 20px;
  font-weight: light;
}

.card-copy-body {
  font-size: 19px;
  font-weight: light;
}

.card-subtitle {
  font-size: 10px;
  font-weight: medium;
}

.message-time-stamp {
  font-weight: light;
}

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';

// Merge custom colors
$theme-colors: map-merge($theme-colors, $custom-colors);
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';
